.notifications {
	margin: 1rem;
	position: relative;
	padding: 1rem;
	border: 1px dashed red;
}

.notifications li[data-priority='default'] {
	color: blue;
}

.notifications li[data-priority='urgent'] {
	color: #e1003c !important;
}