.App-header {
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.App-header img {
  width: 150px;
  height: 150px;
}

.App-header h1 {
  display: flex;
  align-items: center;
}
